.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #333;
  padding: 1rem;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.navbar a:hover {
  background-color: #555;
}


.container {
  width: 500px;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #f4f4f4;
  border-radius: 8px;
}

.task-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}

.task-form input {
  flex: 1;
  margin-right: 2rem;
  margin-left: 0.6rem;
  padding: 0.5rem;
}

.task-list {
  list-style-type: none;
  padding: 0;
}

.task-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid #ddd;
}

.task-list li.pending {
  background-color: #f9f9f9;
}

.task-list li.complete {
  background-color: #d4edda;
  text-decoration: line-through;
}

.task-list button {
  margin-left: 1rem;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

.task-list button:hover {
  background-color: #555;
}
